:root {
    --pink-light: #C59DD2;
    --pink-base: #9547A5;
    --pink-dark: #7D298A;
    --pink-low: #3F0F41;

    --blue-light: #73B6D2;
    --blue-base: #358BB9;
    --blue-mid: #2374A4;
    --blue-dark: #144A72;
    --blue-low: #08233C;

    --shape-stroke: #002347;
    --shape-hover: #001933;
    --shape-base: #000F1F;
    --shape-background: #00050A;

    --text-title: #F8FBFB;
    --text-body: #E2E7E9;
    --text-label: #BAC6C9;

    --ff-base: "Raleway", sans-serif;

    --title-lg: 700 3rem var(--ff-base);
    --title-md: 700 2.5rem var(--ff-base);
    --title-sm: 700 2rem var(--ff-base);
    --title-xs: 700 1rem var(--ff-base);

    --subtitle: 500 2rem/2.0 var(--ff-base);

    --body-lg: 400 1.25rem/1.4 var(--ff-base);
    --body-lg-bold: 700 1.25rem/1.4 var(--ff-base);

    --body-md: 400 1rem/1.4 var(--ff-base);
    --body-md-bold: 700 1rem/1.4 var(--ff-base);

    --body-sm: 400 .875rem/1.4 var(--ff-base);
    --body-sm-bold: 700 .875rem/1.4 var(--ff-base);

    --body-xs: 400 .75rem/1.4 var(--ff-base);
    --body-xs-bold: 700 .75rem/1.4 var(--ff-base);

    --button: 700 .875rem var(--ff-base);
    --link: 500 .875rem var(--ff-base);
    --tag: 700 .625rem var(--ff-base);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(../assets/images/desktop-bg.png) no-repeat top / cover;

    &::-webkit-scrollbar {
        width: 6px;
    }
    
    &::-webkit-scrollbar-track {
        background: var(--shape-background);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--pink-low);
        border-radius: 8px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.btn {
    outline: none;
    border: none;
    border-radius: .5rem;

    font: var(--button);
    color: var(--text-title);

    padding: 0.75rem 3.25rem;
}