.hero {
    width: 100%;
    opacity: 0;

    animation: appear 1s linear forwards;

    & nav {
        width: 70rem;
        margin-inline: auto;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-top: 3.5rem;

        & a {
            padding: 0.75rem 1.25rem;
            border-radius: 0.5rem;
            background: var(--pink-dark);
            font: var(--button);
            color: var(--text-title);

            position: relative;
            overflow: hidden;
            
            z-index: 0;
            
            &::before {
                content: '';
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                background: var(--pink-base);
                
                position: absolute;
                top: 0;
                left: 30%;
                z-index: -1;

                transform: scale(0);
                opacity: 0;
                transition: transform 700ms, opacity 700ms;
            }

            &:hover::before {
                transform: scale(3);
                opacity: 1;
            }
        }
    }

    & .title {
        max-width: 41rem;
        text-align: center;

        margin: 10.25rem auto 35.375rem;

        & h1 {
            color: var(--text-title);
            font: var(--title-lg);
            opacity: 0;

            animation: appear 1s 500ms linear forwards;
        }

        & h2 {
            max-width: 35.5rem;
            margin-inline: auto;

            color: var(--text-body);
            font: var(--body-lg);
            margin-top: 2rem;
            opacity: 0;

            animation: appear 1s 800ms linear forwards;
        }
    }

    & section {
        padding-bottom: 5rem;

        & .description {
            max-width: 75rem;
            margin-inline: auto;

            padding-block: 7.125rem 9.875rem;
            padding-inline: 2rem;

            position: relative;

            & p {
                text-align: center;
                font: var(--subtitle);
                color: var(--text-title);

                & span {
                    opacity: 0.5;
                    filter: saturate(0);
                    
                    &:nth-child(1) {
                        transition: opacity 300ms linear, filter 300ms linear;
                    }

                    &:nth-child(2) {
                        transition: opacity 300ms 400ms linear, filter 300ms 400ms linear;
                    }

                    &:nth-child(3) {
                        transition: opacity 300ms 800ms linear, filter 300ms 800ms linear;
                    }
                }

                & strong {
                    color: var(--blue-light);
                    font-weight: 600;
                }
            }

            & img {
                position: absolute;
                transition: scale 300ms linear, rotate 300ms linear;
                opacity: 0;
                scale: 0;

                &[src*="opened-spellbook"] {
                    width: 5.5rem;
                    height: 5.5rem;
                    top: 0;
                    left: 45%;

                    transition: scale 400ms linear, opacity 400ms linear;
                    transform: rotate(20deg);
                }

                &[src*="ouija-planchette"] {
                    width: 5rem;
                    height: 5rem;
                    bottom: 20%;
                    left: 3.5%;

                    transition: scale 400ms 400ms linear, opacity 400ms 400ms linear;
                    transform: rotate(100deg);
                }

                &[src*="crystal-ball"] {
                    width: 4.5rem;
                    height: 4.5rem;
                    bottom: 22%;
                    right: 0;

                    transition: scale 400ms 800ms linear, opacity 400ms 800ms linear;
                    transform: rotate(-15deg);
                }

                &:hover {
                    scale: 1.1;
                    rotate: 5deg;
                }
            }

            &:hover {
                & img {
                    opacity: 1;
                    scale: 1;
                }

                & span {
                    opacity: 1;
                    filter: saturate(1);
                }
            }
        }
    }
}

.month-kit {
    width: 100%;

    & .main-text {
        width: 32.25rem;
        margin-inline: auto;

        display: grid;
        justify-content: center;
        gap: 5px;
        text-align: center;

        padding-top: 14.68rem;
        
        & .title {
            display: flex;
            align-items: center;
            gap: 1rem;

            & img {
                filter: drop-shadow(0 0 28px rgba(143, 59, 158, 0.5));
            }

            & h2 {
                font: var(--title-sm);
                color: var(--text-title);
            }
        }

        & h3 {
            font: var(--body-md);
            color: var(--text-body);
        }
    }

    & .book-kit {
        padding-top: 8.375rem;
        padding-bottom: 10.5625rem;

        display: flex;
        justify-content: center;
        align-items: center;
        
        position: relative;

        & img {
            position: absolute;
            z-index: -1;
            transition: translate 500ms ease-in-out, rotate 500ms ease-in-out, transform 500ms 500ms ease-in-out;

            &:nth-child(1) {
                width: 29.2rem;
                height: 38.6rem;
                position: relative;
                z-index: 0;
                transition: none;
                transform: translate(-5%, 0%);
            }

            &[src*="pin"] {
                width: 13.9rem;
            }

            &[src*="bookmark"] {
                width: 10.75rem;
                height: 33.5rem;
            }
        }
        & span {
            position: absolute;
            color: var(--text-body);
            font: var(--body-md);
            z-index: -1;
            transition: translate 500ms ease-in-out, transform 500ms 500ms ease-in-out;
        }

        &:hover {
            & img[src*="pin"] {
                translate: -130% 110%;
                rotate: -10deg;
                transform: translate(5%, -5%);
            }

            & img[src*="arrow-2"] {
                translate: -24.40rem 8.25rem;
                transform: translate(5%, -5%);
            }

            & .pin-text {
                translate: -23.75rem 2rem;
                transform: translate(5%, -5%);
            }

            & img[src*="bookmark-yellow"] {
                translate: 144% -23%;
                rotate: 10deg;
                transform: translate(-6%, 3%);
            }

            & img[src*="bookmark-purple"] {
                translate: 200% 0%;
                rotate: 20deg;
                transform: translate(-3%, 3%);
            }

            & img[src*="arrow-1"] {
                translate: -19.75rem -19.375rem;
                transform: translate(5%, 5%);
            }

            & .book-text {
                translate: -23.75rem -21.875rem;
                transform: translate(3%, 3%);
            }

            & img[src*="arrow-3"] {
                translate: 18rem 20rem;
                transform: translate(3%, 3%);
            }

            & .bookmark-text {
                translate: 14rem 27rem;
                transform: translate(3%, 3%);
            }
        }
    }
}

@keyframes appear {
    to {
        opacity: 1;
    }
}