.hero {
    width: 100%;
    opacity: 0;

    background: url(../assets/images/hero-bg.png) no-repeat top;

    animation: appear 1s linear forwards;

    & nav {
        margin-inline: 10rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-top: 3.5rem;

        & a {
            padding: 0.75rem 1.25rem;
            border-radius: 0.5rem;
            background: var(--pink-dark);
            font: var(--button);
            color: var(--text-title);

            position: relative;
            overflow: hidden;
            
            z-index: 0;
            
            &::before {
                content: '';
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                background: var(--pink-base);
                
                position: absolute;
                top: 0;
                left: 30%;
                z-index: -1;

                transform: scale(0);
                opacity: 0;
                transition: transform 700ms, opacity 700ms;
            }

            &:hover::before {
                transform: scale(3);
                opacity: 1;
            }
        }
    }

    & .title {
        max-width: 41rem;
        text-align: center;

        margin: 10.25rem auto 35.375rem;

        & h1 {
            color: var(--text-title);
            font: var(--title-lg);
            opacity: 0;

            animation: appear 1s 500ms linear forwards;
        }

        & h2 {
            max-width: 35.5rem;
            margin-inline: auto;

            color: var(--text-body);
            font: var(--body-lg);
            margin-top: 2rem;
            opacity: 0;

            animation: appear 1s 800ms linear forwards;
        }
    }

    & section {
        padding-bottom: 5rem;

        & .description {
            max-width: 75rem;
            margin-inline: auto;

            padding-block: 7.125rem 9.875rem;
            padding-inline: 2rem;

            position: relative;

            & p {
                text-align: center;
                font: var(--subtitle);
                color: var(--text-title);

                & span {
                    opacity: 0.5;
                    filter: saturate(0);
                    
                    &:nth-child(1) {
                        transition: opacity 300ms linear, filter 300ms linear;
                    }

                    &:nth-child(2) {
                        transition: opacity 300ms 400ms linear, filter 300ms 400ms linear;
                    }

                    &:nth-child(3) {
                        transition: opacity 300ms 800ms linear, filter 300ms 800ms linear;
                    }
                }

                & strong {
                    color: var(--blue-light);
                    font-weight: 600;
                }
            }

            & img {
                position: absolute;
                transition: scale 300ms linear, rotate 300ms linear;
                opacity: 0;
                scale: 0;

                &[src*="opened-spellbook"] {
                    width: 5.5rem;
                    height: 5.5rem;
                    top: 0;
                    left: 45%;

                    transition: scale 400ms linear, opacity 400ms linear;
                    transform: rotate(20deg);
                }

                &[src*="ouija-planchette"] {
                    width: 5rem;
                    height: 5rem;
                    bottom: 20%;
                    left: 3.5%;

                    transition: scale 400ms 400ms linear, opacity 400ms 400ms linear;
                    transform: rotate(100deg);
                }

                &[src*="crystal-ball"] {
                    width: 4.5rem;
                    height: 4.5rem;
                    bottom: 22%;
                    right: 0;

                    transition: scale 400ms 800ms linear, opacity 400ms 800ms linear;
                    transform: rotate(-15deg);
                }

                &:hover {
                    scale: 1.1;
                    rotate: 5deg;
                }
            }

            &:hover {
                & img {
                    opacity: 1;
                    scale: 1;
                }

                & span {
                    opacity: 1;
                    filter: saturate(1);
                }
            }
        }
    }
}

.month-kit {
    margin-bottom: 17.375rem;

    & .main-text {
        display: grid;
        justify-content: center;
        gap: 5px;
        text-align: center;

        padding-top: 14.68rem;
        
        & .title {
            display: flex;
            align-items: center;
            gap: 1rem;

            & img {
                filter: drop-shadow(0 0 28px rgba(143, 59, 158, 0.5));
            }

            & h2 {
                font: var(--title-sm);
                color: var(--text-title);
            }
        }

        & h3 {
            font: var(--body-md);
            color: var(--text-body);
        }
    }

    & .book-kit {
        padding-top: 8.375rem;
        padding-bottom: 10.5625rem;

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        & img {
            max-width: 100%;
            position: absolute;
            z-index: -1;
            transition: translate 500ms ease-in-out, rotate 500ms ease-in-out, transform 500ms 500ms ease-in-out;

            &:nth-child(1) {
                max-width: 29.2rem;
                width: 100%;
                position: relative;
                z-index: 0;
            }

            &[src*="pin"] {
                max-width: 13.9rem;
            }

            &[src*="bookmark"] {
                max-width: 10.75rem;
                height: 33.5rem;
            }
        }

        & span {
            position: absolute;
            color: var(--text-body);
            font: var(--body-md);
            z-index: -1;
            transition: translate 500ms ease-in-out, transform 500ms 500ms ease-in-out;
        }

        &:hover {
            & img[src*="pin"] {
                translate: -130% 110%;
                rotate: -10deg;
                transform: translate(5%, -5%);
            }

            & img[src*="arrow-2"] {
                translate: -24.40rem 8.25rem;
                transform: translate(5%, -5%);
            }

            & .pin-text {
                translate: -23.75rem 2rem;
                transform: translate(5%, -5%);
            }

            & img[src*="bookmark-yellow"] {
                translate: 144% -23%;
                rotate: 10deg;
                transform: translate(-6%, 3%);
            }

            & img[src*="bookmark-purple"] {
                translate: 200% 0%;
                rotate: 20deg;
                transform: translate(-3%, 3%);
            }

            & img[src*="arrow-1"] {
                translate: -19.75rem -19.375rem;
                transform: translate(5%, 5%);
            }

            & .book-text {
                translate: -23.75rem -21.875rem;
                transform: translate(3%, 3%);
            }

            & img[src*="arrow-3"] {
                translate: 18rem 20rem;
                transform: translate(3%, 3%);
            }

            & .bookmark-text {
                translate: 14rem 27rem;
                transform: translate(3%, 3%);
            }
        }
    }
}

.pricing {
    width: 100%;
    margin-inline: auto;

    background: url(../assets/images/pricing-background.png) no-repeat center/cover;

    padding-top: 12.125rem;
    padding-bottom: 18.875rem;

    & .title {
        text-align: center;
        font: var(--title-sm);
        color: var(--text-title);
    }

    & .cards {
        width: 65.625rem;
        height: 100vh;

        margin-top: 3.5rem;
        margin-inline: auto;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        & .star {
            position: absolute;

            &:nth-child(4) {
                width: 1.625rem;
                height: 1.625rem;
                translate: -10rem -13.5rem;
            }

            &:nth-child(5) {
                width: 0.8125rem;
                height: 0.8125rem;
                translate: -11.5rem -12rem;
            }

            &:nth-child(6) {
                width: 1.4375rem;
                height: 1.4375rem;
                translate: 10.5rem 14rem;
            }

            &:nth-child(7) {
                width: 0.6875rem;
                height: 0.6875rem;
                translate: 8rem 14.5rem;
            }
        }


        & .card {
            min-height: 26rem;
            padding: 2rem;
            border-radius: 1.5rem;
            position: absolute;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & header {
                & h3 {
                    font: var(--title-xs);
                    margin-bottom: 1.5rem;
                }

                & .price {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                    & span {
                        font: var(--title-md);
                        color: var(--text-title);
                        & small {
                            font: var(--title-xs);
                            color: var(--text-title);
                        }
                    }

                    & small {
                        font: var(--body-sm);
                        color: var(--text-label);
                    }
                }
            }

            & .benefits {
                & ul {
                    display: flex;
                    flex-direction: column;
                    gap: 0.75rem;

                    list-style: none;
                    margin-bottom: 1.5rem;

                    & li {
                        display: flex;
                        align-items: center;
                        gap: .5rem;

                        & span {
                            font: var(--body-xs);
                            color: var(--text-body);
                        }
                    }

                    & li img {
                        width: 0.875rem;
                        height: 0.875rem;
                    }
                }

                & button {
                    position: relative;
                    z-index: 0;
                    overflow: hidden;
                }
            }

            &.card-1 {
                z-index: 2;
                background: var(--shape-hover);
                position: relative;

                & img[src*="bunny"] {
                    width: 3rem;
                    height: 3rem;
                    position: absolute;
                    top: -3rem;
                }

                & header {
                    position: relative;

                    & h3 {
                        color: var(--pink-light);
                    }

                    & .tag {
                        padding: 0.5625rem 1.25rem;
                        border-radius: 50rem;
                        background: var(--shape-stroke);
                        font: var(--tag);
                        color: var(--text-body);

                        position: absolute;
                        top: -0.5rem;
                        right: 0;
                    }
                }

                & .benefits {
                    & button {
                        background: var(--pink-dark);

                        &::before {
                            content: '';
                            width: 2.5rem;
                            height: 2.5rem;
                            border-radius: 50%;
                            background: var(--pink-base);
                            
                            position: absolute;
                            top: 0;
                            left: 40%;
                            z-index: -1;

                            transform: scale(0);
                            opacity: 0;
                            transition: transform 700ms, opacity 700ms;
                        }

                        &:hover::before {
                            transform: scale(6);
                            opacity: 1;
                        }
                    }
                }

                &:hover {
                    translate: 0 -3rem;
                    box-shadow: 0 0 3rem var(--shape-hover);
                }
            }

            &.card-2, &.card-3 {
                background: var(--shape-base);
                outline: 1px solid var(--shape-stroke);

                & header {
                    & h3 {
                        color: var(--blue-light);
                    }
                }

                & .benefits {
                    & ul {
                        & li img {
                            filter: invert(20%) sepia(80%) saturate(979%) hue-rotate(175deg) brightness(93%) contrast(90%);
                        }
                    }
                    
                    & button {
                        background: var(--blue-dark);

                        &::before {
                            content: '';
                            width: 2.5rem;
                            height: 2.5rem;
                            border-radius: 50%;
                            background: var(--blue-base);
                            
                            position: absolute;
                            top: 0;
                            left: 40%;
                            z-index: -1;

                            transform: scale(0);
                            opacity: 0;
                            transition: transform 700ms, opacity 700ms;
                        }

                        &:hover::before {
                            transform: scale(6);
                            opacity: 1;
                        }
                    }
                }
            }

            &.card-2:hover {
                & ~ .star:nth-child(4), & ~ .star:nth-child(5) {
                    rotate: 8deg;
                }
            }

            &.card-3:hover {
                & ~ .star:nth-child(6), & ~ .star:nth-child(7) {
                    rotate: 16deg;
                }
            }

            &.card-2:hover, &.card-3:hover {
                background: var(--shape-hover);
                box-shadow: 0 0 3rem var(--shape-hover);
                transform: translateY(-0.5rem);
                outline: none;
                z-index: 10;

                & ~ .card-1 {
                    background: var(--shape-base);
                    outline: 1px solid var(--shape-stroke);
                }
            }
        }

        & .card-1, & .card-2, & .card-3, & .star {
            transition: translate 500ms ease, rotate 500ms ease, box-shadow 500ms ease, outline 500ms ease, background 500ms ease, z-index 500ms ease, transform 500ms ease;
        }

        &:hover {
            & .card-1 {
                translate: 0 -2rem;
            }

            & .card-2 {
                translate: -17.5rem 1.5rem;
                rotate: -8deg;
            }

            & .card-3 {
                translate: 17.5rem 1.5rem;
                rotate: 8deg;
            }

            & .star {
                &:nth-child(4) {
                    translate: -28.5rem -11rem;
                }

                &&:nth-child(5) {
                    translate: -29.5rem -9rem;
                }

                &:nth-child(6) {
                    translate: 25.5rem 16rem;
                }
                
                &:nth-child(7){
                    translate: 23.5rem 16.5rem;
                }
            }
        }
    }
}

footer {
    background: url(../assets/images/book-trace-background.png) no-repeat top / cover;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10.625rem 10rem 6.375rem;

    & .brand {
        max-width: 100%;
        width: 16.5rem;

        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        & .separator {
            height: 1px;
            background-color: var(--shape-stroke);
        }

        & .social-medias {
            display: flex;
            justify-content: space-between;

            & a {
                width: 2.5rem;
                height: 2.5rem;
                transition: background 400ms linear, filter 500ms linear;
                border-radius: 50%;
                
                & img {
                    padding: .5rem;
                    filter: invert(12%) sepia(20%) saturate(4754%) hue-rotate(185deg) brightness(95%) contrast(105%);
                }

                &:hover {
                    background: var(--shape-stroke);

                    & img {
                        filter: none;
                    }
                }
            }
        }
    }

    & .links {
        display: flex;
        gap: 3.5rem;

        & h3 {
            font: var(--title-xs);
            color: var(--text-body);
            margin-bottom: 1.25rem;
        }

        & ul {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;

            & li a {
                font: var(--link);
                color: var(--blue-light);
                transition: color 500ms ease;
            }

            & li:hover a {
                color: #fff;
            }
        }
    }
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

@media (max-width: 1070px) {
    .hero {
        & nav {
            margin-inline: 5rem;
        }
    }

    .month-kit {
        & .book-kit {

             & img[src*="pin"] {
                translate: -120% 105%;
                rotate: -10deg;
            }

            & img[src*="arrow-2"] {
                translate: -24.40rem 8.25rem;
            }

            & .pin-text {
                translate: -23.75rem 2rem;
            }

            & img[src*="bookmark-yellow"] {
                translate: 144% -23%;
                rotate: 10deg;
            }

            & img[src*="bookmark-purple"] {
                translate: 200% 0%;
                rotate: 20deg;
            }

            & img[src*="arrow-1"] {
                translate: -17.5rem -19.5rem;
            }

            & .book-text {
                translate: -23.75rem -21.875rem;
            }

            & img[src*="arrow-3"] {
                translate: 18rem 20rem;
            }

            & .bookmark-text {
                translate: 14rem 27rem;
            }
        }
    }       
}

@media (max-width: 768px) {
    .month-kit {
        & .book-kit {
            pointer-events: none;
            & img {
                &:nth-child(1) {
                    width: 40%;
                }

                &[src*="pin"] {
                    width: 22%;
                    translate: -105% 90%;
                }

                &[src*="bookmark-yellow"] {
                    width: 18%;
                    height: auto;
                    translate: 125% -20%;
                }

                &[src*="bookmark-purple"] {
                    width: 18%;
                    height: auto;
                    translate: 180% 0%;
                }

                &[src*="arrow-1"] {
                    width: 20%;
                    translate: -12.5rem -13rem;
                }

                &[src*="arrow-2"] {
                    width: 12%;
                    translate: -16.5rem 4rem;
                }

                &[src*="arrow-3"] {
                    width: 15%;
                    translate: 13.5rem 14rem;
                }
            }

            & span {
                font: var(--body-sm);

                &.book-text {
                    translate: -18rem -15rem;
                }

                &.bookmark-text {
                    translate: 10rem 18.5rem;
                }

                &.pin-text {
                    translate: -16.75rem -1rem;
                }
            }
        }
    }

    .pricing {
        overflow: hidden;

        & .cards {
            pointer-events: none;
            gap: 2rem;

            & .star {
                display: none;
            }

            & .card {
                position: static;
            }
        }
    }

    footer {
        flex-direction: column;
        gap: 2.5rem;
    }
}

@media (max-width: 430px) {
    .hero {
        background: url(../assets/images/book-bg-mobile.png) no-repeat top / 100%;

        & nav {
            margin-inline: 1rem;
            padding-top: 1.25rem;

            & .logo {
                display: none;
            }

            & .mobile-only {
                display: block;
            }
        }

        & .title {
            margin: 5.25rem auto 14rem;
            & h1 {
                font: 700 1.75rem var(--ff-base);
            }

            & h2 {
                font: var(--body-xs);
                margin-top: 1rem;
            }
        }

        & section {
            padding-bottom: 0;

            & .description {
                padding-block: 5.125rem;

                pointer-events: none;
                & p {
                    font: var(--body-md);

                    & span {
                        opacity: 1;
                        filter: saturate(1);
                    }
                }

                & img {
                    opacity: 1;
                    scale: 1;

                    &[src*="opened-spellbook"] {
                        width: 2.5rem;
                        height: 2.5rem;
                        top: 16%;
                        left: 68%;
                    }

                    &[src*="ouija-planchette"] {
                        width: 2rem;
                        height: 2rem;
                        top: 62%;
                        rotate: -125deg;
                    }

                    &[src*="crystal-ball"] {
                        width: 2.5rem;
                        height: 2.5rem;
                        bottom: 20%;
                        right: 4%;
                        rotate: 30deg;
                    }
                }
            }
        }
    }

    .month-kit {
        margin-bottom: 0;

        & .main-text {
            padding-top: 6.5rem;

            & .title {
                justify-content: center;

                & h2 {
                    font: var(--title-xs);
                }

                & img {
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }

            & h3 {
                font: var(--body-sm);
            }
        }

        & .book-kit {
            & img {
                &[src*="arrow-1"] {
                    width: 20%;
                    translate: -6.3rem -7.2rem;
                }
    
                &[src*="arrow-2"] {
                    translate: -9.2rem 2rem;
                }
    
                &[src*="arrow-3"] {
                    translate: 8rem 7.5rem;
                }
            }
            & span {
                font: var(--body-xs);

                &.book-text {
                    translate: -8rem -8.5rem;
                }

                &.bookmark-text {
                    translate: 6rem 10.5rem;
                }

                &.pin-text {
                    translate: -9.5rem -1rem;
                }
            }
        }
    }

    .pricing {
        padding-top: 3rem;

        & .title {
            font: var(--title-xs);
        }

        & .cards {
            margin-top: 0;
        }
    }

    footer {
        padding: 6.125rem 2rem 2.375rem;
    }
}

@media (max-width: 385px) {
    .hero {
        background: url(../assets/images/book-bg-mobile.png) no-repeat top;

        & section {
            & .description {
                padding-inline: 1rem;

                & img {
                    &[src*="opened-spellbook"] {
                        left: 70%;
                    }

                    &[src*="ouija-planchette"] {
                        top: 70%;
                        rotate: -140deg;
                    }

                    &[src*="crystal-ball"] {
                        bottom: 16%;
                    }
                }
            }
        }
    }

    .month-kit {
        & .book-kit {
            & img {
                &[src*="arrow-1"] {
                    translate: -6rem -6.5rem;
                }
    
                &[src*="arrow-2"] {
                    translate: -8rem 1.7rem;
                }
    
                &[src*="arrow-3"] {
                    translate: 7rem 7rem;
                }
            }
            & span {
                font: 400 0.625rem "Raleway", sans-serif;

                &.book-text {
                    translate: -8rem -7.5rem;
                }

                &.bookmark-text {
                    translate: 5.8rem 9.5rem;
                }

                &.pin-text {
                    translate: -8rem -1rem;
                }
            }
        }
    }

    .pricing {
        padding-bottom: 6.5rem;
        
        & .cards {
            justify-content: start;
            padding-left: 1.5rem;
        }
    }

    footer {
        & .brand {
            justify-content: center;
            align-items: center;

            & .separator {
                width: 100%;
            }

            & img[src*="logo"] {
                width: 10rem;
                height: 2.5rem;
            }
        }
    }
}